<footer id="colophon" class="site-footer inner-sm">
  <p class="site-info">
    {% if site.params.footer.content %}
    <span class="copyright">{{ site.params.footer.content | safe }}</span>
    {% endif %}
    {% for action in site.params.footer.links %}
    <a {{ classNames({'button': action.style == 'button'}) }} href="{{ action.url | relative_url }}"{% if action.new_window %} target="_blank" rel="noopener"{% endif %}>{{ action.label }}</a>
    {% endfor %}
  </p><!-- .site-info -->
  <a id="to-top" class="to-top" href="#page"><span class="icon-arrow-up" aria-hidden="true"></span><span
      class="screen-reader-text">Back to top</span></a>
</footer><!-- .site-footer -->