{% set field = include_dict.field %}
{% if field.input_type == 'checkbox' %}
<div class="form-group form-checkbox">
  <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}"{% if field.is_required %} required{% endif %}>
  {% if field.label %}
  <label for="{{ field.name }}">{{ field.label }}</label>
  {% endif %}
</div>
{% elif field.input_type == 'select' %}
<div class="form-group">
  {% if field.label %}
  <label for="{{ field.name }}">{{ field.label }}</label>
  {% endif %}
  <div class="form-select-wrap">
    <select id="{{ field.name }}" name="{{ field.name }}"{% if field.is_required %} required{% endif %}>
      {% if field.default_value %}
      <option value="">{{ field.default_value }}</option>
      {% endif %}
      {% for option in field.options %}
      <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% elif field.input_type == 'textarea' %}
<div class="form-group">
  {% if field.label %}
  <label for="{{ field.name }}">{{ field.label }}</label>
  {% endif %}
  <textarea name="{{ field.name }}" id="{{ field.name }}" rows="7"{% if field.default_value %} placeholder="{{ field.default_value }}"{% endif %}{% if field.is_required %} required{% endif %}></textarea>
</div>
{% else %}
<div class="form-group">
  {% if field.label %}
  <label for="{{ field.name }}">{{ field.label }}</label>
  {% endif %}
  <input type="{{ field.input_type }}" name="{{ field.name }}" id="{{ field.name }}"{% if field.default_value %} placeholder="{{ field.default_value }}"{% endif %}{% if field.is_required %} required{% endif %} />
</div>
{% endif %}