{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block block-posts">
  {% if section.title %}
  <h2 class="block-title underline inner-sm">{{ section.title }}</h2>
  {% endif %}
  <div class="post-feed">
    <div class="post-feed-inside">
      {% set display_posts = getPages("/posts") | sort(true, true, "date") %}
      {% set recent_posts = display_posts | slice_array(0, section.posts_number) %}
      {% for post in recent_posts %}
      <article class="post post-card">
        <div class="post-inside">
          {% if post.params.thumb_img_path %}
          <a class="post-thumbnail" href="{{ post.url | relative_url }}"><img src="{{ post.params.thumb_img_path | relative_url }}" alt="{{ post.params.title }}" /></a>
          {% endif %}
          <header class="post-header">
            <h3 class="post-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.params.title }}</a></h3>
          </header>
          {% if post.params.excerpt %}
          <div class="post-content">
            <p>{{ post.params.excerpt }}</p>
          </div>
          {% endif %}
          <footer class="post-meta">
            <time class="published"
              datetime="{{post.date | date_format("%Y-%m-%d %H:%M") }}">{{ post.date | date_format("%B %d, %Y") }}</time>
          </footer>
        </div>
      </article><!-- .post -->
      {% endfor %}
    </div>
  </div><!-- .post-feed -->
  {% if section.actions %}
  <div class="block-buttons inner-sm">
    {% set include_dict = {'actions': section.actions} %}
    {% include "cta_buttons.html" %}
  </div>
  {% endif %}
</section><!-- .block -->
